<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="google-site-verification" content="VW3vbqgqsjcousiaI8ZT6qKhRj4cBRaPIuSnGFjnIvs" />


<meta property="og:title" content="Site map" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="coding:github user softtiny" />
<meta property="og:description" content="coding:github user softtiny" />
<link rel="canonical" href="https://softtiny.github.io/" />
<meta property="og:url" content="https://softtiny.github.io/" />
<meta property="og:site_name" content="some code to use" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Site map" />
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","description":"coding","headline":"Site map","name":"some code to use","url":"https://softtiny.github.io/"}</script>

  <style>
    .special-post {
      background-color: #f0f0f0;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="special-post">
    <h1>{{ page.title }}-[<a href="https://github.com/softtiny">See:Softtiny</a>]</h1>
    <div class="content">
      {{ content }}
    </div>
  </div>
{%- if content contains 'mermaid' -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.2.0/mermaid.min.js" integrity="sha512-OAr6bl1pt/FD0oVcuPzJ9VIMso+HQhHoodVI7mnDst19p8rNkNiraPLsDCYVhit3Mjd6B7AUHFsoDhq3dDeI7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
const config = {
    startOnLoad:true,
    theme: 'forest',
    flowchart: {
        useMaxWidth:false,
        htmlLabels:true
        }
};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
{% endif %}
</body>
</html>